*{padding: 0; margin: 0; box-sizing: border-box;}
body{background: #eee;}
.App{max-width: 600px; margin: 80px auto; padding: 30px 10px 50px; background: #fff;}
.App-header{margin: 20px 0; text-align: center;}
form{max-width: 500px; padding-bottom: 20px; margin: auto; border-bottom: 1px solid #cecece;}
input, button{padding: 5px; margin: 5px; vertical-align: middle;}
ul{max-width: 500px; padding-top: 30px; margin: auto; list-style: none;}
li{padding: 5px 10px; margin-bottom: 20px; border-bottom: 1px solid #000; font-size: 20px; cursor: pointer;}
.done{text-decoration: line-through; color: #ccc; font-style: italic;}

@media screen and (max-width:650px){
    body{background: #fff;}
}